@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.author {
  border-top: 1px solid $color-gray-border;
  max-width: $layout-post-width;
  padding-top: 20px;
  display: flex;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(2);

  &__photo {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    min-height: 75px;
  }

  &__title {
    &-link {
      font-size: $typographic-base-font-size * 1.125;
    }
  }

  &__bio {
    margin: 0;
    color: $color-gray;

    &-twitter {
      display: block;
      text-decoration: underline;
    }
  }
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }
}
